<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header><% include ./partials/header %></header>

    <main>
      <div><% include ./partials/greeting %></div>

      <h3>Subscriber Detail:</h3>
      <ul>
        <li><%= first_name %></li>
        <li><%= last_name %></li>
        <li><%= email %></li>
        <li><%= id %></li>
      </ul>

      <a href="/editSubscriber/<%= id %>" class="editSubscriber btn btn-sm btn-outline-secondary">Edit Information</a>

      <a href="" class="delete-subscriber btn btn-sm btn-outline-secondary" data-id="<%= id %>">Delete Information</a>
    </main>

    <footer><% include ./partials/footer %></footer>
  </body>
</html>
